.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #fff;
}

.menu-button.burger {
  cursor: pointer;
  width: 24px;
  height: 24px;

}

.menu-button.burger:hover {
  background-color: #eee;
}

.menu-button-options {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}

.menu-button-options li{
  list-style: none;
  padding: 16px;
  cursor: pointer;

}

.menu-button-options li:hover {
  background-color: #eee;
}

@media (max-width: 728px) {
  .menu-button {
    display: flex;
  }

  .menu-button-options {
    display: flex;
  }

  .menu-button-burger{
    transition: 0.3s ease-in-out;
  }
  
  .menu-button-burger:hover {
    background-color: #eee;
    transform: scale(1.3);
  }
}